html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*, *:before, *:after {
	box-sizing: border-box;
}
img {
	vertical-align: middle;
	max-width: 100%;
}
p {
	margin: 0 0 10px;
}

/* Skill */
.flex {
    display: flex;
    align-items: center;
}

.flex .flex--1 {
	flex: 1;
}



/*body view*/
header {
    background-image: url("../img/backgroundHeader.png");
    background-size: cover;
    height: 200px;
    border-bottom: 3px solid black;
}

body {
    width:900px; /* The width of the CV is fixed at 800px */
    margin: auto;
}
.sidebar {
	width: 35%;
	background: #FFDD82;
    color: #000000;
    float: left;
    border-right: 3px solid black;
    height: 1349px;
}
.content {
	width: 65%;
    padding: 70px;
    float: right;
}

/*Header*/

.avatar img {
    border-radius: 50%;
    max-width: 150px;
    max-height: 150px;
    float: right;
    margin: 25px 50px;
    border: #000000 solid  2px;
  }

header h1 {
    font-size: 40px;
    font-weight: bold; 
    padding-top: 15px;
    padding-left: 25px;
}
header h3 {
    font-weight: bold; 
    padding-top: 10px;
    padding-left: 25px;
}

/*Body*/
body {
	line-height: 1.625;
	font-size: 15px;
	color: #263238;
	font-family:  'Courier New', Courier, monospace
}


/*Module*/
.module{
    margin: 0 0 20px;
}
.module__title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.module__info {
	font-size: 14px;
	/* color: #90a4ae; */
	margin-bottom: 20px;
}
.module i{
    margin-right: 5px;
}
.module__content li{
    margin-bottom: 10px;
}
.circle {
    color: #263238;
    background: #DD5A00 ;
	border-radius: 50%;
	text-align: center;
	margin-right: 20px;
}
.circle.circle--large {
    /* background: #DD5A00 ; */
    font-size: 25px;
	width: 37px;
	height: 37px;
	line-height: 35px;
}

.circle.circle--small {
    background: #F5873B  ;
    font-size: 14px;
	width: 25px;
	height: 25px;
	line-height: 30px;
}
.loisir{
    display: block;
    width: 120px;;
    float: left;
}
.loisir i{
    font-size: 50px;
}


/*Side bar*/
.sidebar {
    padding: 20px;
    text-align: justify;
}
.sidebar .module__title{
    margin-bottom: 10px;
}

.sidebar .module:last-child {
	margin-bottom: 293px;
} 


/*progres-bar*/
.progress-bar,
.progress-bar span {
	height: 6px;
	background: #fff;
	border-radius: 6px;
	display: block;
}
.progress-bar span {
	background: #263238;
}

/*Content*/
.content{
    padding: 20px;
    text-align: justify;
    background: #F5B041 ;
}
.section__title{
    font-size: 25px;
    font-weight: 1000;
}
.section_content{
    padding: 20px;
}
.content .module__title{
    margin-bottom: 0px;
}
hr#section__separate{
    border-top: 3px solid black;
}